{{>layout/header}}
{{>layout/title}}

<div class="col-md-12">
    <div class="mb-3 col-md-8">
        <label for="title" class="form-label col-md-8 fs-2">제목</label>
        <input type="text" class="form-control" id="title" placeholder="제목을 작성해주세요">
    </div>
</div>
<div class="row border mx-1 my-1 --bs-light" style="border: 5px var(--bs-dark-border-subtle) solid">
    <div class="col-md-10">
        <div class="row">
            <div class="col">
                <label class="fs-4">목록게임</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gameType" id="normal" value="normal"checked>
                    <label class="form-check-label" for="normal">
                        일반게임
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gameType" id="rank" value="rank" >
                    <label class="form-check-label" for="rank">
                        랭크게임
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gameType" id="oneToOne" value="oneToOne" >
                    <label class="form-check-label" for="oneToOne">
                        1 VS 1
                    </label>
                </div>
            </div>
            <div class="col">
                <label class="fs-4">마이크 사용</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mikeCheck" id="yes" value="yes" checked>
                    <label class="form-check-label" for="yes">
                        YES
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mikeCheck" id="no" value="no">
                    <label class="form-check-label" for="no">
                        NO
                    </label>
                </div>
            </div>
            <div class="col" style="">
                <div>
                    <label class="fs-4">모집티어</label>
                </div>
                <select class="form-select" id="selectTier" aria-label="Apex Tier">
                    <option selected disabled>티어를 선택해주세요</option>
                    <option value="unranked">언랭크</option>
                    <option value="iron">아이언</option>
                    <option value="bronze">브론즈</option>
                    <option value="silver">실버</option>
                    <option value="gold">골드</option>
                    <option value="platinum">플래티넘</option>
                    <option value="diamond">다이아</option>
                    <option value="masterUP">마스터+</option>
                </select>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="m-2">
            <button class="btn btn-outline-primary" type="button">조건 초기화</button>
        </div>
    </div>

</div>
<div class="m-1">
    <label for="content" class="form-label">본문</label>
    <textarea class="form-control" id="content" rows="10" placeholder="내용을 입력하세요"></textarea>
</div>
<div class="float-end m-3">
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
</div>


{{>layout/footer}}